<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Credentials Panel</title>
  <link rel="stylesheet" href="../css/credentials-form.css"/>
</head>
<body ng-app="serpClix" ng-controller="CredentialsPanelController">

<div class="container">
  <h2 class="header" ng-show="!errorMessage">Your SerpClix credentials</h2>

  <div id="msg">
    <small class="{{ login.classes }}"
           ng-bind="login.message"></small>
  </div>

  <form ng-submit="sendLogin($event)" ng-show="!errorMessage">
    <div class="form-row">
      <input type="text" name="username" placeholder="Username" ng-model="login.username">
    </div>
    <div class="form-row">
      <input type="password" name="password" placeholder="Password" ng-model="login.password">
    </div>
    <div class="form-actions">
      <input type="submit" class="btn" value="Log In">
    </div>
  </form>
</div>
<script src="../js/vendor/angular.js"></script>
<script src="../js/modules/serpclix.js"></script>
<script src="../js/addon/orderlist-tab-util.js"></script>
<script src="../js/addon/global.js"></script>
<script src="../js/addon/settings.js"></script>
<script src="../js/controllers/credentials-form.js"></script>
</body>
</html>
